.Dropdown {
}

.title {
  /* Start Reset global annoying styles :( */
  margin: 0;
  /* End Reset global annoying styles :( */

  color: #666666;
  padding: 12px 0;
  border-bottom: 1px solid #66666630;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.title:hover {
  color: #00b7ce;
}

.list {
  padding-inline-start: calc(4 * var(--padding));
}
